@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@utility animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

::view-transition-group(example-demo) {
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
