.aui-root {
  @apply text-foreground;
}

.aui-root * {
  @apply border-border outline-ring/50;
}

/* shadcn-ui/button */
.aui-button {
  @apply inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-1 focus-visible:ring-ring focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
}

.aui-button-primary {
  @apply bg-primary text-primary-foreground shadow hover:bg-primary/90;
}

.aui-button-outline {
  @apply border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground;
}

.aui-button-ghost {
  @apply hover:bg-accent hover:text-accent-foreground;
}

.aui-button-medium {
  @apply h-9 px-4 py-2;
}

/** tooltip icon button */
.aui-button-icon {
  @apply size-6 p-1;
}

.aui-sr-only {
  @apply sr-only;
}

/* shadcn-ui/avatar */

.aui-avatar-root {
  @apply relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full;
}

.aui-avatar-image {
  @apply aspect-square h-full w-full object-cover;
}

.aui-avatar-fallback {
  @apply flex h-full w-full items-center justify-center rounded-full bg-muted;
}

/* shadcn-ui/tooltip */

.aui-tooltip-content {
  @apply z-50 animate-in overflow-hidden rounded-md bg-primary px-3 py-1.5 text-xs text-primary-foreground fade-in-0 zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
}

/* shadcn-ui/dialog */

.aui-dialog-overlay {
  @apply fixed inset-0 z-50 bg-black/80 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:animate-in data-[state=open]:fade-in-0;
}

.aui-dialog-content {
  @apply fixed top-[50%] left-[50%] z-50 data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95 data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%];
  @apply grid translate-x-[-50%] translate-y-[-50%] shadow-lg duration-200;
  /* @apply w-full bg-background max-w-lg gap-4 border p-6 sm:rounded-lg; */
}

/* tool fallback */

.aui-tool-fallback-root {
  @apply mb-4 flex w-full flex-col gap-3 rounded-lg border py-3;
}

.aui-tool-fallback-header {
  @apply flex items-center gap-2 px-4;
}

.aui-tool-fallback-icon {
  @apply size-4;
}

.aui-tool-fallback-title {
  @apply flex-grow;
}

.aui-tool-fallback-content {
  @apply flex flex-col gap-2 border-t pt-2;
}

.aui-tool-fallback-args-root {
  @apply px-4;
}

.aui-tool-fallback-args-value {
  @apply whitespace-pre-wrap;
}

.aui-tool-fallback-result-root {
  @apply border-t border-dashed px-4 pt-2;
}

.aui-tool-fallback-result-header {
  @apply font-semibold;
}

.aui-tool-fallback-result-content {
  @apply whitespace-pre-wrap;
}
