/* thread */
.aui-thread-root {
  @apply @container flex h-full flex-col bg-background;
}

.aui-thread-viewport {
  @apply relative flex flex-1 flex-col overflow-x-auto overflow-y-scroll px-4;
}

.aui-thread-viewport-spacer {
  @apply min-h-8 grow;
}

/* unused in new design */
.aui-thread-viewport-footer {
  @apply sticky bottom-0 mt-3 flex w-full max-w-[var(--thread-max-width)] flex-col items-center justify-end rounded-t-lg bg-inherit pb-4;
}

.aui-thread-scroll-to-bottom {
  @apply absolute -top-12 z-10 self-center rounded-full p-4 disabled:invisible dark:bg-background dark:hover:bg-accent;
}

.aui-thread-followup-suggestions {
  @apply flex min-h-8 items-center justify-center gap-2;
}

.aui-thread-followup-suggestion {
  @apply rounded-full border bg-background px-3 py-1 text-sm transition-colors ease-in hover:bg-muted/80;
}

/* thread welcome */

.aui-thread-welcome-root {
  @apply mx-auto my-auto flex w-full max-w-[var(--thread-max-width)] flex-grow flex-col;
}

.aui-thread-welcome-center {
  @apply flex w-full flex-grow flex-col items-center justify-center;
}

.aui-thread-welcome-message {
  @apply flex size-full flex-col justify-center px-8;
}

.aui-thread-welcome-message-motion-1 {
  @apply text-2xl font-semibold;
}

.aui-thread-welcome-message-motion-2 {
  @apply text-2xl text-muted-foreground/65;
}

.aui-thread-welcome-suggestions {
  @apply grid w-full gap-2 @md:grid-cols-2;
}

.aui-thread-welcome-suggestion {
  @apply h-auto w-full flex-1 flex-wrap items-start justify-start gap-1 rounded-3xl border px-5 py-4 text-left text-sm @md:flex-col dark:hover:bg-accent/60;
}

.aui-thread-welcome-suggestion-display {
  @apply [&:nth-child(n+3)]:hidden @md:[&:nth-child(n+3)]:block;
}

.aui-thread-welcome-suggestion-text-1 {
  @apply font-medium;
}

.aui-thread-welcome-suggestion-text-2 {
  @apply text-muted-foreground;
}

/* thread composer */

.aui-composer-wrapper {
  @apply sticky bottom-0 mx-auto flex w-full max-w-[var(--thread-max-width)] flex-col gap-4 overflow-visible rounded-t-3xl bg-background pb-4 md:pb-6;
}

.aui-composer-root {
  @apply relative flex w-full flex-col rounded-3xl border border-border bg-muted px-1 pt-2 shadow-[0_9px_9px_0px_rgba(0,0,0,0.01),0_2px_5px_0px_rgba(0,0,0,0.06)] dark:border-muted-foreground/15;
}

.aui-composer-input {
  @apply mb-1 max-h-32 min-h-16 w-full resize-none bg-transparent px-3.5 pt-1.5 pb-3 text-base outline-none placeholder:text-muted-foreground focus:outline-primary;
}

.aui-composer-action-wrapper {
  @apply relative mx-1 mt-2 mb-2 flex items-center justify-between;
}

.aui-composer-send {
  @apply size-[34px] rounded-full p-1;
}

.aui-composer-send-icon {
  @apply size-5;
}

.aui-composer-cancel {
  @apply size-[34px] rounded-full border border-muted-foreground/60 hover:bg-primary/75 dark:border-muted-foreground/90;
}

.aui-composer-cancel-icon {
  @apply size-3.5 fill-white dark:fill-black;
}

.aui-composer-add-attachment {
  @apply size-[34px] rounded-full p-1 text-xs font-semibold hover:bg-muted-foreground/15 dark:border-muted-foreground/15 dark:hover:bg-muted-foreground/30;
}

/* unused in new design */
.aui-composer-attach {
  @apply my-2.5 size-8 p-2 transition-opacity ease-in;
}

.aui-composer-attachment-button {
  @apply scale-115 p-3.5 hover:bg-foreground/15 dark:hover:bg-background/50;
}

.aui-composer-attachments {
  @apply mb-2 flex w-full flex-row items-center gap-2 overflow-x-auto px-1.5 pt-0.5 pb-1 empty:hidden;
}

/* attachment */

.aui-attachment-root {
  @apply relative;
}

.aui-attachment-root-composer {
  @apply only:[&>#attachment-tile]:size-24;
}

.aui-attachment-content {
  @apply flex h-7 cursor-pointer items-center gap-1.5 rounded-md border bg-muted/50 px-2 py-1 transition-colors hover:bg-muted/80;
}

.aui-attachment-thumb {
  @apply size-3.5 flex-shrink-0 text-muted-foreground;
}

.aui-attachment-name {
  @apply max-w-[120px] truncate text-xs;
}

.aui-attachment-remove {
  @apply -mr-1 ml-1 hover:text-destructive;
}

.aui-attachment-preview {
  @apply relative mx-auto flex max-h-[80dvh] w-full items-center justify-center overflow-hidden bg-background;
}

.aui-attachment-preview-image-loaded {
  @apply block h-auto max-h-[80vh] w-auto max-w-full object-contain;
}

.aui-attachment-preview-image-loading {
  @apply hidden;
}

.aui-attachment-preview-trigger {
  @apply cursor-pointer transition-colors hover:bg-accent/50;
}

.aui-attachment-preview-dialog-content {
  @apply p-2 sm:max-w-3xl [&_svg]:text-background [&>button]:rounded-full [&>button]:bg-foreground/60 [&>button]:p-1 [&>button]:opacity-100 [&>button]:!ring-0 [&>button]:hover:[&_svg]:text-destructive;
}

.aui-attachment-tile {
  @apply size-14 cursor-pointer overflow-hidden rounded-[14px] border bg-muted transition-opacity hover:opacity-75;
}

.aui-attachment-tile-composer {
  @apply border-foreground/20;
}

.aui-attachment-tile-avatar {
  @apply h-full w-full rounded-none;
}

.aui-attachment-tile-image {
  @apply object-cover;
}

.aui-attachment-tile-fallback-icon {
  @apply size-8 text-muted-foreground;
}

.aui-attachment-tile-remove {
  @apply absolute top-1.5 right-1.5 size-3.5 rounded-full bg-white text-muted-foreground opacity-100 shadow-sm hover:!bg-white [&_svg]:text-black hover:[&_svg]:text-destructive;
}

.aui-user-message-attachments-end {
  @apply col-span-full col-start-1 row-start-1 flex w-full flex-row justify-end gap-2;
}

/* attachment icons */

.aui-attachment-add-icon {
  @apply size-5 stroke-[1.5px];
}

.aui-attachment-remove-icon {
  @apply size-3 dark:stroke-[2.5px];
}

/* user message */

.aui-user-message-root {
  @apply mx-auto grid w-full max-w-[var(--thread-max-width)] animate-in auto-rows-auto grid-cols-[minmax(72px,1fr)_auto] gap-y-2 px-2 py-4 duration-200 fade-in slide-in-from-bottom-1 first:mt-3 last:mb-5 [&:where(>*)]:col-start-2;
}

.aui-user-branch-picker {
  @apply col-span-full col-start-1 row-start-3 -mr-1 justify-end;
}

.aui-user-message-content {
  @apply rounded-3xl bg-muted px-5 py-2.5 break-words text-foreground;
}

.aui-user-message-attachments {
  @apply col-start-2 mb-2 flex flex-wrap gap-2 empty:hidden;
}

.aui-user-message-content-wrapper {
  @apply relative col-start-2 min-w-0;
}

.aui-user-action-bar-wrapper {
  @apply absolute top-1/2 left-0 -translate-x-full -translate-y-1/2 pr-2;
}

/* user action bar */

.aui-user-action-bar-root {
  @apply flex flex-col items-end;
}

.aui-user-action-edit {
  @apply p-4;
}

/* edit composer */

.aui-edit-composer-wrapper {
  @apply mx-auto flex w-full max-w-[var(--thread-max-width)] flex-col gap-4 px-2 first:mt-4;
}

.aui-edit-composer-root {
  @apply ml-auto flex w-full max-w-7/8 flex-col rounded-xl bg-muted;
}

.aui-edit-composer-input {
  @apply flex min-h-[60px] w-full resize-none bg-transparent p-4 text-foreground outline-none;
}

.aui-edit-composer-footer {
  @apply mx-3 mb-3 flex items-center justify-center gap-2 self-end;
}

/* assistant message */

.aui-assistant-message-root {
  @apply relative mx-auto w-full max-w-[var(--thread-max-width)] animate-in py-4 duration-200 fade-in slide-in-from-bottom-1 last:mb-24;
}

.aui-assistant-message-avatar {
  @apply col-start-1 row-start-1 flex size-8 shrink-0 items-center justify-center rounded-full bg-background ring-1 ring-border;
}

/* unused in new design */
:where(.aui-assistant-message-root) > .aui-avatar-root {
  @apply col-start-1 row-span-full row-start-1 mr-4;
}

/* unused in new design */
.aui-assistant-avatar {
  @apply col-start-1 row-span-full row-start-1 mr-4;
}

.aui-assistant-branch-picker {
  @apply col-start-2 row-start-2 mr-2 -ml-2;
}

.aui-assistant-message-content {
  @apply mx-2 leading-7 break-words text-foreground;
}

.aui-assistant-message-footer {
  @apply mt-2 ml-2 flex;
}

.aui-message-error-root {
  @apply mt-2 rounded-md border border-destructive bg-destructive/10 p-3 text-sm text-destructive dark:bg-destructive/5 dark:text-red-200;
}

.aui-message-error-message {
  @apply line-clamp-2;
}

/* assistant action bar */

.aui-assistant-action-bar-root {
  @apply col-start-3 row-start-2 -ml-1 flex gap-1 text-muted-foreground data-floating:absolute data-floating:rounded-md data-floating:border data-floating:bg-background data-floating:p-1 data-floating:shadow-sm;
}

.aui-assistant-action-bar-feedback-positive {
  @apply data-[submitted]:text-green-600 data-[submitted]:hover:text-green-700 dark:data-[submitted]:text-green-500 dark:data-[submitted]:hover:text-green-400;
}

.aui-assistant-action-bar-feedback-negative {
  @apply data-[submitted]:text-red-600 data-[submitted]:hover:text-red-700 dark:data-[submitted]:text-red-500 dark:data-[submitted]:hover:text-red-400;
}

/* branch picker */

.aui-branch-picker-root {
  @apply mr-2 -ml-2 inline-flex items-center text-xs text-muted-foreground;
}

.aui-branch-picker-state {
  @apply font-medium;
}

/* text */

.aui-text {
  @apply whitespace-pre-line;
}

.aui-text-running::after {
  @apply animate-pulse font-sans content-['\25CF'] ltr:ml-1 rtl:mr-1;
}

/* thread-list */

.aui-thread-list-root {
  @apply flex flex-col items-stretch gap-1.5;
}

.aui-thread-list-item {
  @apply flex items-center gap-2 rounded-lg transition-all hover:bg-muted focus-visible:bg-muted focus-visible:ring-2 focus-visible:ring-ring focus-visible:outline-none data-active:bg-muted;
}

.aui-thread-list-new {
  @apply flex items-center justify-start gap-1 rounded-lg px-2.5 py-2 text-start hover:bg-muted data-active:bg-muted;
}

.aui-thread-list-item-trigger {
  @apply flex-grow px-3 py-2 text-start;
}

.aui-thread-list-item-title {
  @apply text-sm;
}

.aui-thread-list-item-archive {
  @apply mr-3 ml-auto size-4 p-0 text-foreground hover:text-primary;
}

/* ThreadListSidebar */

.aui-sidebar-header {
  @apply mb-2 border-b;
}

.aui-sidebar-header-content {
  @apply flex items-center justify-between;
}

.aui-sidebar-header-icon-wrapper {
  @apply flex aspect-square size-8 items-center justify-center rounded-lg bg-sidebar-primary text-sidebar-primary-foreground;
}

.aui-sidebar-header-icon {
  @apply size-4;
}

.aui-sidebar-header-heading {
  @apply mr-6 flex flex-col gap-0.5 leading-none;
}

.aui-sidebar-header-title {
  @apply font-semibold;
}

.aui-sidebar-content {
  @apply px-2;
}

.aui-sidebar-footer {
  @apply border-t;
}

.aui-sidebar-footer-icon-wrapper {
  @apply flex aspect-square size-8 items-center justify-center rounded-lg bg-sidebar-primary text-sidebar-primary-foreground;
}

.aui-sidebar-footer-icon {
  @apply size-4;
}

.aui-sidebar-footer-heading {
  @apply flex flex-col gap-0.5 leading-none;
}

.aui-sidebar-footer-title {
  @apply font-semibold;
}
